.cls-1{fill:#002030;}
.cls-2{fill:none;}
.cls-3{fill:#ffc8ac;}
.cls-4{fill:#f49282;}
.cls-5{fill:#fca39a;}
.cls-6{fill:#9e5147;}
.cls-7{fill:#fff;}
.cls-8{fill:#19313a;}
.cls-9{fill:#e73555;}
.cls-10{fill:#f18856;}
.cls-11{fill:#f8b272;}
.cls-12{fill:#ffe568;}
.cls-13{fill:#aa5e5e;}
.cls-14{fill:#894e4e;}
.cls-15{fill:#7a4141;}
.st0{fill:#FFE450;}


.default{
	filter: grayscale(1)!important;
}